body{
    padding: 0px;
    margin: 0px auto;
    background-color:whitesmoke;
    
}
.container_1{
    box-sizing: border-box;
    margin: 40px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;

}
.container_2{
    box-sizing: border-box;
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;

}
.boxes{
    padding: 10px;
    position: relative;
    margin:10px;
    background-color:lightgray;
    border-style: outset;
    width:180px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    
}   
    
.details{
    color: rgb(20, 20, 20);
    margin-right: px;
    font-style: bold;
    text-align: center;
    font-size: medium;
    margin-left: px;
    margin-top: 10px;
}
.img{
    margin: auto;
    margin-top: 20px;
    height: 70px;
    width: 60px;
    border-radius: 50%;
    object-position: center;
    display: flex;
    justify-content:space-around;
    
    align-items: flex-end;
    object-fit: cover;
}    


.name{
    color: rgba(28, 4, 48, 0.945);
    margin-top: 0px;
    font-size: 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
#degn{
    color: rgb(71, 31, 19);
    font-size: 22px;
}
h1{
    color: rgb(21, 16, 65);
    text-align: center;
    font-style: italic;
}
img{
    padding: 10px;
    margin: auto;
    width: 150px;
    height: 50px;
    object-position: center;
    object-fit: contain;
    align-items: center;
}
h2{
   padding: 0px;
    text-transform: capitalize;
    text-align: center;
    

}
.about{
    padding: 0px;
    text-align: center;
}
.box{
    margin: 0px;
    width:350px;
    border-radius: 80px;
    padding: 7px;
    padding-left: 10px;
    border-color: rgb(82, 41, 12);
    
    text-transform: capitalize;
    font-style: italic;
   

}
.submit{
    background-color:rgb(99, 102, 102);
    color: white;
    text-transform: capitalize;
    align-items: center;
}
.submit:hover{
  background-color: rgb(40, 40, 43);
}
.xxx{
    display: flex;
    justify-items: center;
    justify-content: center;
}
